/***    General     ***/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    
}

body {
    margin: 0 auto
}

.m-5-auto {
    margin: 5rem auto
}

.primary-button {
    margin-top: 5rem;
    margin-right: 1rem;
    padding: .6rem;
    width: 10rem;
    background: #222;
    border: none;
    color: #fff;
    font-size: 1.2rem;
    transition: all .5s;
    cursor: pointer;
    text-transform: capitalize
}

/***    Landing Page     ***/
.main-title,
.main-para {
    color: #f1f1f1
}

.main-title {
    padding-top: 10rem;
    font-size: 5rem;
    font-family: 'Fascinate', cursive;
    text-transform: uppercase
}

.main-para {
    font-size: 2.5rem;
    text-Transform: capitalize
}

#reg_btn span {
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

#reg_btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

#reg_btn:hover span {
  padding-right: 25px;
}

#reg_btn:hover span:after {
  opacity: 1;
  right: 0;
}

/***    Login Page     ***/

.outer-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: auto; 
    z-index: -1;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-content {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
}



.login-content h2 {
    font-weight: 300;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

.forgot-password {
    float: right;
    font-size: 0.8rem;
}

.login-btn {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background: #333;
}

.footer-links {
    margin-top: 1rem;
    text-align: center;
}

.footer-links p {
    margin-bottom: 0.5rem;
}

/***    Signup Page     
.outer-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    overflow: auto; 
}
***/
.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.signup-content {
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
}


.signup-content h2 {
    font-weight: 300;
    text-align: center;
}

.signup-content h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
}

.footer-links {
    margin-top: 1rem;
    text-align: center;
}

.footer-links p {
    margin-bottom: 0.5rem;
}

.register-btn {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-btn:hover {
    background: #333;
}

/***    Forget password Page     ***/

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-content {
    background: #f3f3f3;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 2rem;
    max-width: 400px;
    width: 100%;
}

.login-content h2 {
    font-weight: 300;
    text-align: center;
}

.login-content h5 {
    font-size: 1rem;
    margin-bottom: 1rem;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
}

.login-btn {
    display: block;
    width: 100%;
    padding: 0.5rem;
    background: #222;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-btn:hover {
    background: #333;
}

.footer-links {
    margin-top: 1rem;
    text-align: center;
}

.footer-links p {
    margin-bottom: 0.5rem;
}

